.GameLog-component {
  padding: 30px 50px;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 70px;
      color: #188ff3;
    }

    h2 {
      font-size: 35px;
      color: #f37a18;
    }

    p:nth-child(even) {
      color: #18f384;
    }

    p:nth-child(odd) {
      color: #e118f3;
    }
    p {
      font-size: 30px;
    }
  }

  .GameLog-component-question {
    margin: 37px 0;

    h2 {
      color: #188ff3;
    }

    h4 {
      font-size: 22px;
      color: #f37a18;
      display: flex;
      align-items: center;
    }

    p {
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 26px;
    }

    h6 {
      font-size: 22px;
    }

    .choices-span {
      color: white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    span {
      font-size: 22px;
      margin-right: 20px;
      color: rgb(76, 87, 118);
    }
    .selected-answer {
      color: rgb(236, 29, 29);
    }

    .correct-answer {
      color: rgb(10, 168, 10) !important;
    }
  }

  div:nth-child(1) {
    margin: 20px 0;
  }
}
