@use "../../scss/variables" as var;

.Profile-component {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  justify-content: center;

  .user-profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 44px;
      color: var.$Blue;

      @media (max-width: 550px) {
        font-size: 30px;
      }

      @media (max-width: 350px) {
        font-size: 25px;
      }
    }

    button {
      color: white;
      font-size: 20px;
      border: 2px solid white;
      padding: 5px 12px;
      cursor: pointer;
    }

    .edit-profile {
      margin-top: 5px;
    }
  }

  .top-3-games-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h4 {
      font-size: 33px;
      color: var.$Pink;
      margin-top: 14px;

      @media (max-width: 350px) {
        font-size: 30px;
      }
    }

    .top-3-games {
      display: flex;
      margin: 5px 0;
      flex-direction: column;

      div {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 6px 0;

        h5 {
          color: var.$Orange;
          font-size: 18px;

          @media (max-width: 350px) {
            font-size: 19px;
          }
        }

        span,
        a {
          color: white;
          font-size: 19px;
        }
        a {
          padding: 2px 6px;
          width: max-content;
          margin: 0;
          background-color: var.$Blue;
          border-radius: 2px;
          transition: 0.3s ease;
          margin: 3px 0;

          &:hover {
            transform: scale(1.04);
          }
        }
      }
    }
    a {
      margin: 10px 0;
      height: max-content;
      width: max-content;
    }
    button {
      color: white;
      font-size: 20px;
      border: 2px solid white;
      padding: 5px 12px;
      cursor: pointer;
    }
  }
}
