.Game-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  h1 {
    font-size: 55px;
    color: #188ff3;
  }

  h2 {
    font-size: 42px;
    color: #f37a18;
  }

  .Timer-component {
    font-size: 40px;
    color: #e118f3;
  }

  .current-question {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #18f384;

    h3 {
      font-size: 28px;
    }
    p {
      font-size: 35px;
      margin: 10px 0;
    }
  }
}
