@use "../../scss/variables" as var;

.Homepage-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;

  @media (max-width: 500px) {
    padding: 10px 0;
  }

  h1 {
    font-size: 60px;
    color: white;
    display: flex;

    @media (max-width: 1000px) {
      font-size: 50px;
    }

    @media (max-width: 850px) {
      font-size: 40px;
    }

    @media (max-width: 750px) {
      flex-direction: column;
      text-align: center;
    }

    @media (max-width: 460px) {
      font-size: 33px;
    }

    @media (max-width: 360px) {
      font-size: 27px;
    }

    @media (max-width: 300px) {
      font-size: 24px;
    }

    .h1-blue {
      color: var.$Blue;
    }

    .h1-orange {
      color: var.$Orange;
    }

    .h1-pink {
      color: var.$Pink;
    }

    .h1-green {
      color: var.$Teal;
    }
  }
  p {
    font-size: 27px;
    width: 60%;
    margin: 77px 0;
    text-align: center;

    @media (max-width: 1000px) {
      width: 90%;
      margin: 34px 0;
    }

    @media (max-width: 1000px) {
      width: 90%;
      margin: 34px 0;
    }

    @media (max-width: 700px) {
      font-size: 24px;
    }

    @media (max-width: 500px) {
      margin: 24px 0;
    }

    @media (max-width: 310px) {
      font-size: 20px;
    }
  }
}
