.Nav-component {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 100px;
    width: 200px;
    cursor: pointer;
  }

  ul {
    display: flex;
    justify-content: flex-end;

    li {
      margin: 0 6px;
      font-size: 24px;
      color: white !important;
      letter-spacing: 0.5px;
      cursor: pointer;
    }

    a {
      color: white;
    }
  }
}
